In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_fwf("global_tech_salary.txt", sep=',')

In [9]:
data.head()

  "work_year","experience_level","employment_type","job_title","salary","salary_currency","salary_in_usd","employee_residence","remote_ratio","company_location","company_size"
0  2023,"MI","FT","Data Analyst",165000,"USD",165...
1  2023,"MI","FT","Data Analyst",70000,"USD",7000...
2  2024,"MI","FT","Machine Learning Engineer",850...
3  2024,"SE","FT","Data Scientist",92700,"USD",92...
4  2023,"MI","FT","Research Engineer",150000,"USD...